@import "tailwindcss";

/* ==================================================
   EDITORIAL PORTFOLIO THEME (HEX VALUES)
================================================== */

@theme {
  /* ---------------- Fonts ---------------- */
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  /* ---------------- Backgrounds ---------------- */
  --color-background: #0a0a0a; /* main page */
  --color-background-soft: #121212; /* sections */
  --color-background-elevated: #181818; /* cards */
  --color-background-accent: #f6390d; /* orange strips */
  --color-background-accent-60: #ff7845;
  --color-background-accent-40: #ffb089;
  --color-background-accent-20: #ffd1b8;
  /* ---------------- Foregrounds ---------------- */
  --color-foreground: #f5f5f5; /* main text */
  --color-foreground-muted: #a0a0a0; /* paragraphs */
  --color-foreground-subtle: #7a7a7a; /* helper text */

  /* ---------------- Accent ---------------- */
  --color-accent: #f6390d; /* primary CTA */
  --color-accent-soft: #ff6020; /* hover */

  /* ---------------- Borders ---------------- */
  --color-border: #282828;
  --color-border-soft: #1c1c1c;

  /* ---------------- Radius ---------------- */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
}

/* --------------------------------
   BASE STYLES
---------------------------------*/
@layer base {
  body {
    font-family: var(--font-sans);
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));

    -webkit-font-smoothing: antialiased;
  }
  html {
    scroll-behavior: smooth;
  }
  section {
    scroll-margin-top: 80px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
    letter-spacing: -0.02em;
  }

  p {
    color: rgb(var(--color-foreground-muted));
  }
}

.noise {
  position: relative;
  background: radial-gradient(
    circle,
    var(--color-accent-soft) 22%,
    var(--color-accent) 64%,
    var(--color-accent) 93%
  ); /* solid dark so grain is obvious */
}

.noise::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../assets/images/noise-filter.svg");
  background-repeat: repeat;

  opacity: 0.1; /* VERY visible */

  pointer-events: none;
}

.text-stroke {
  -webkit-text-stroke: 1px var(--color-foreground);
  color: transparent;
}

button {
  cursor: pointer;
}

